
body {
    background-color: rgb(33, 243, 68);
    font-family: 'Segoe UI', Tahoma, Geneva, verdana, sans-serif;
    color: brown;
    margin: 0;
    padding: 20px;
}


.container {
    max-width: 650px;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px black;
    text-align: left; 
}


h1, h2 {
    color: black;
}

p {
    line-height: 1.6;
    color: brown;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    margin: 15px 0;
}

input[type="text"],
input[type="tel"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box; 
}

input[type="submit"],
input[type="reset"] {
    background-color: rgb(45, 184, 226);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
}

input[type="reset"] {
    background-color: rgb(240, 36, 36);
}

input[type="submit"]:hover {
    background-color: rgb(41, 214, 206);
}

input[type="reset"]:hover {
    background-color: red;
}